/*
 * Mjolner.tech Zola Theme
 */

/*
 * Contents
 *
 * Global resets
 * Sidebar
 * Container
 * Reverse layout
 * Themes
 */

/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */

 :root {
	--box-shadow: 0 8px 15px rgba(0,0,0,0.85);
	--box-shadow-reverse: 0 -8px 15px rgba(0,0,0,0.85);
	--gray-1: #eaeaea;
	--gray-2: #d4d4d4;
	--gray-3: #bebebe;
	--gray-4: #a7a7a7;
	--gray-5: #909090;
	--gray-6: #777;
	--gray-7: #5e5e5e;
	--gray-8: #434343;
	--gray-9: #262626;
	--gray-10: #111;
	--orange: #ff7a18;
	--pink: #e52e71;
	--red: #f44336;
	--purple: #b822ff;
	--blue: #0089c7;
	--green: #4caf50;
	--lightgreen: #8bc34a;
	--yellow: #ffeb3b;
	--light-orange: #fff2df;
	--light-purple: rgba(156,39,176,0.2);
 }

html {
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
	min-height: 100%;
}
@media (min-width: 48em) {
	html {
		font-size: 16px;
	}

	main {
    	min-width: 40rem;
	}
}
@media (min-width: 58em) {
	html {
		font-size: 16px;
	}

	body {
	    grid:
			"header" auto
			"main" 1fr
			"footer" auto
			/ 1fr
	}

	header {
        display: flex;
        padding: 0rem 3rem;
        margin: 0 0 3rem 0;
    }

    footer {
        margin: 3rem 0 0 0;
    }

	.logo {
        width: 100%;
        a {
        justify-content: space-between !important;
        }
	}
	.nav-area { grid-area: nav;
       nav ul { justify-content: flex-end !important;} }

	main {
    	margin: 0 auto;
    	padding: 2rem 4rem;
    	width: 56rem;
    	border-radius: 1rem;
    }

}

html {
    --maxWidth: 1600px;
    --gap: 3rem;
    scrollbar-color: #666 #201c29;
    color: #fff;
    --featured-img: linear-gradient(0deg,#fdb3fd,#456FFF);
    --bg-blend-mode: hue;
    background-color: #fdb3fd;
    // background-image: radial-gradient(50% 50% at top center,rgba(0,0,0,.66),cyan),var(--featured-img);
    background-image: var(--featured-img);
    // background-position: top 58px center;
    background-repeat: no-repeat;
    background-blend-mode: var(--bg-blend-mode);
}

/*
 * Grid
 */

body {
    width: 100%;
    display: grid;

    grid:
        "header" auto
        "nav" auto
        "main" 1fr
        "footer" auto
        / 1fr;
    gap: 0rem;
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

main {
    grid-area: main;
}

/*
 * Header
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

header{
    position: relative;
    z-index: 2;
	color: rgba(255, 255, 255, 0.5);
   	border-bottom: 4px solid #fdb3fd;
    padding: 0.5rem;
}

header, footer {
    background-color: rgba(20,20,20,0.5);
}

header .logo {
    flex: 1;
    position: relative;
    align-self: stretch;
    align-items: center;
    a {
    justify-content: center;
    }
}

header .logo a {
    display: flex;
    align-items: center;
    text-decoration: none;

    img { padding: 0; margin: 0; }
}

/*
 * footer
 */

footer {
    position: relative;
    z-index: 2;
    padding: 0rem 3rem;
	color: rgba(255, 255, 255, 0.5);
	border-top: 4px solid #456fff;

	nav {
	    font-size: 0.7rem;
	}
}

.navigation {
    border: 0;
    margin-block-start: 0;
    padding-top: 0;
}

/* Navigation links */
.navigation a {
	color: #fff;
}

/* Sidebar nav */
.navigation > ul {
	padding-left: 0;
	list-style: none;
	display: flex;
	height: auto;
	overflow-x: scroll;
	margin: 0;
	justify-content: center;
	flex-wrap: wrap;
}

nav ul {
    list-style: none;
    list-style-image: none;
}

// .navigation > ul li { flex: 1; }

.navigation > ul > li > a {
    font-family: Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-weight: 500;
    height: 100%;
    color: #fff;
    padding: 21px .5rem;
    position: relative;
    display: block;
    overflow: hidden;
}

.navigation > ul li a:hover,
.navigation > ul li a:focus {
    text-decoration:none;
    background-color: hsla(0,0%,100%,0.1);
}
.navigation ul li a.active {
	font-weight: bold;

}

/*
.sidebar .headshot {
	display: inline-block;
	clip-path: ellipse(50% 50% at 50% 50%);
	background: white;
}
.sidebar .headshot img {
	clip-path: ellipse(48% 48% at 50% 50%);
	margin: 0;
	padding: 0;
}
*/

/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */

main {
	background: rgba(255,255,255,0.85);
	padding: 1rem;
	justify: both;
}
